apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaamftp3cj4ly22ujveq6ikedl2hgbsliby7huvavu6633bmtmbi3ha"
  user_ocid = "ocid1.user.oc1..aaaaaaaayqys5k77lb2nbhkgvokpqz463e5xdkjmwbcoz36iqq7smqfmqjfa"
  private_key_path = "/Users/skamatta/.oci/freetier_priv.pem"
  fingerprint = "4d:44:c9:e0:fb:67:5d:5e:34:89:02:54:6e:5c:c4:98"
  region = "us-ashburn-1"
    }
